*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Typo */
h2{
  margin-left: 40px;
  font-weight: 900;
}

h3{
  padding: 10px 0;
}

p{
  color: #797c80;
}
/* END Typo */

/* General */
body{
  font-family: 'Roboto', sans-serif;
  color: white;
}

ul li{
  list-style: none;
}

ul li a{
  text-decoration: none;
  color: #797c80;
}

section{
  padding-top: 50px;
}
/* END General */

/* Utility */
.d-flex{
  display: flex;
}

.flex-dir-col{
  flex-direction: column;
}

.flex-dir-row{
  flex-direction: row;
}
/* END Utility */

.wrapper{
  height: 100vh;
  justify-content: space-between;
}

#site-content{
  height: calc(100% - 60px); /* 60px altezza del footer */
  align-items: stretch;
}

.main-menu{
  min-width: 250px;
  background-color: black;
}

.subscribe-banner {
  height: 60px;
  line-height: 60px;
  width: calc(100% - 250px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: #080b12;
  text-align: right;
}
/* Music-section */
.music-section{
  width: 100%;
  margin-top: 60px; /* altezza del subscribe-banner */
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #141922;
}

/* content-navbar */
#content-navbar{
  padding-top: 30px;
}

#content-navbar ul{
  flex-wrap: wrap;
  justify-content: center;
}

#content-navbar ul li a{
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

#content-navbar ul li a:hover{
  color: white;
}

#content-navbar ul li a:hover:after {
  position:absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  content: '';
  height: 2px;
  background-color: #adff2f;
  display:block;
}
/* END content-navbar */

.subscribe-banner a{
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.albums{
  padding-top: 20px;
  flex-wrap: wrap;
}

.album{
  flex-basis: 200px;
  height: 200px;
  margin: 40px 5px;
  text-align: center;
}
.album img{
  width: 100%;
}

.img-box{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  font-size: 4.5rem;
  display: none;
}
.overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-box:hover .overlay{
  display: block;
  cursor: pointer;
}

#created-for p, #popular p{
  margin-left: 40px;
  padding-top: 15px;
}

#popular .img-box,
#popular .img-box > img,
#popular .overlay{
  border-radius: 50%;
}

#site-footer{
  height: 60px;
  background-color: green;
}
